<div id="cart" class="btn-group btn-block clearfix">
  <button type="button" class="btn dropdown-toggle"><img src="catalog/view/theme/mintleaf/image/icon/shopping-bag.png" alt="Search">
    <a href="{{ cart_link }}"> 
    <span id="cart-total" class="rounded-circle">{{ text_items }}</span>
    </a>
  </button>
</div>
