<script type="text/javascript">
var Tawk_API={},$_Tawk_LoadStart=new Date();
{% if condicion1 %}
    Tawk_API.visitor = {
        name  : "{{ nombre }}",
        email : "{{ correo }}",
    };
{% endif %}
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/{{ page_id }}/{{ widget_id }}';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->